@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:400,500,600,800&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  color: black;
}

header {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
}

.button {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  padding: 10px 30px;
  background: #a79783;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 700;
  text-transform: uppercase;
}

.button:hover {
  background: #746757;
}

.main-menu {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu .main-menu__logo * {
  max-width: 100%;
}

.main-menu .menu-nav__check {
  display: none;
}

.main-menu .main-menu__burger {
  display: none;
}

.main-menu .main-menu__burger .menu-nav__button-burger {
  position: relative;
  display: block;
  width: 30px;
  height: 15px;
  cursor: pointer;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.main-menu .main-menu__burger .menu-nav__button-burger:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 100%;
  border-top: 3px solid #fff;
}

.main-menu .main-menu__logo {
  cursor: pointer;
}

.main-menu .main-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}

.main-menu .main-menu__nav .main-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu .main-menu__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-menu .main-menu__nav ul a {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 300;
}

.main-menu .main-menu__nav ul a:hover {
  color: #a79783;
}

.main-menu .main-menu__nav .icons {
  margin-left: 60px;
}

.main-menu .main-menu__nav .icons a:nth-child(2) {
  margin-left: 25px;
}

.main-header {
  text-align: center;
  padding: 270px 0;
}

.main-header h2 {
  font-size: 36px;
  font-weight: 500;
  color: white;
}

.main-header h1 {
  font-size: 52px;
  font-weight: 700;
  color: white;
}

.main-header p {
  max-width: 55%;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 300;
  margin-top: 30px;
  color: white;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots .dot {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  width: 12px;
  height: 12px;
  background: #8f9091;
  border-radius: 50%;
  margin-left: 8px;
  border: 2px transparent solid;
  cursor: pointer;
}

.dots .active, .dots .dot:hover {
  background: black;
  border: 2px white solid;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: 25rem;
}

.arrows .prev, .arrows .next {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  position: relative;
  font-size: 35px;
  color: #8f9091;
  cursor: pointer;
}

.arrows .prev:hover, .arrows .next:hover {
  color: white;
}

.arrows .prev {
  left: 7%;
}

.arrows .next {
  right: 7%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 85px;
  text-align: center;
  margin-bottom: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.skills .skills__item {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  margin-left: 20px;
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.skills .skills__item i {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  font-size: 60px;
  margin-bottom: 15px;
  color: #555555;
}

.skills .skills__item h4 {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #555555;
}

.skills .skills__item p {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  color: #8f9091;
  line-height: 23px;
}

.skills .skills__item:hover i, .skills .skills__item:hover h4, .skills .skills__item:hover p {
  color: #a79783;
}

.skills .skills__item:hover :after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  height: 2px;
  margin-left: -15%;
  background: #a79783;
}

.title {
  text-align: center;
}

.title h3 {
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.title p {
  max-width: 70%;
  margin: 0 auto;
  color: #8f9091;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
  margin-bottom: 0;
}

.pictures img {
  max-width: 100%;
}

.pictures .pictures__item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pictures .pictures__item__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.theme {
  padding: 40px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  margin-bottom: 80px;
}

.purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.purchase h3 {
  font-size: 28px;
  color: white;
}

.purchase h3 span {
  color: #a79783;
}

.purchase p {
  font-size: 16px;
  color: #746757;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-tag {
  font-size: 14px;
  color: black;
  font-weight: 300;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tags .tags__item {
  margin-left: 20px;
  margin-bottom: 20px;
}

.tags .tags__item a {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  border: 1px #8f9091 solid;
  padding: 5px 25px;
}

.tags .tags__item .active-item, .tags .tags__item a:hover {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  color: white;
  background-color: #a79783;
}

.tags .tags__item .active-item:hover {
  background-color: #746757;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .projects__item {
  margin-left: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.projects .projects__item .projects__img {
  position: relative;
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .projects__item .projects__img img {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  max-width: 100%;
}

.projects .projects__item .projects__img .projects__icons i {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 25px;
  opacity: 0;
  color: #746757;
}

.projects .projects__item .projects__img .projects__icons .link {
  margin-left: 20px;
}

.projects .projects__item .projects__img .projects__icons .search {
  margin-left: -20px;
}

.projects .projects__item .projects__subtitle {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  padding: 25px 30px;
}

.projects .projects__item .projects__subtitle h5 {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  font-size: 20px;
  color: #a79783;
}

.projects .projects__item .projects__subtitle p {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  font-size: 14px;
  color: #a79783;
  font-weight: 300;
  margin-top: 10px;
}

.projects .projects__item:hover .projects__subtitle {
  background-color: #746757;
}

.projects .projects__item:hover h5, .projects .projects__item:hover p {
  color: white;
}

.projects .projects__item:hover .projects__img {
  background: black;
}

.projects .projects__item:hover .projects__img img {
  opacity: 0.4;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80) black;
  -khtml-opacity: 0.8;
}

.projects .projects__item:hover .projects__img .projects__icons i {
  opacity: 1;
}

.projects .projects__item:hover .projects__img .projects__icons i:hover {
  color: white;
}

.learn-more {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.block-video {
  max-width: 100%;
  text-align: center;
  position: relative;
  background: url(../img/vid-photo.jpg) no-repeat;
}

.block-video video {
  opacity: 0;
  max-width: 100%;
}

.block-video .title-vid {
  position: absolute;
  text-align: center;
  bottom: 30%;
  left: 20%;
}

.block-video .title-vid .icon-play i {
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  font-size: 70px;
  color: white;
  margin-bottom: 30px;
}

.block-video .title-vid .icon-play i:hover {
  color: #8f9091;
}

.block-video .title-vid h3 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.block-video .title-vid p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  max-width: 70%;
  margin: 0 auto;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-video .title-vid .vid-time {
  color: #a79783;
  font-size: 14px;
}

.mobile-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-features * {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 450px;
          flex: 2 2 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-features .mobile-features__img img {
  max-width: 100%;
}

.mobile-features .mobile-features__text {
  text-align: left;
  margin-bottom: 20px;
}

.mobile-features .mobile-features__text p {
  max-width: 100%;
  line-height: 25px;
}

.mobile-features .mobile-features__text ul {
  margin-top: 40px;
  margin-left: 50px;
}

.mobile-features .mobile-features__text ul li {
  margin-top: 10px;
}

.mobile-features .mobile-features__text ul li .mobile-features__list .pointer {
  float: left;
  background: #c7b299;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-right: 30px;
}

.mobile-features .mobile-features__text ul li .mobile-features__list .pointer * {
  margin-left: 5px;
}

.counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.counts * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.counts .counts__item {
  margin-bottom: 20px;
}

.counts .counts__item .counter {
  font-size: 48px;
  color: white;
  font-weight: 200;
  margin-bottom: 20px;
}

.counts .counts__item p {
  color: #a79783;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 140px;
}

.posts .posts__item {
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 10px;
}

.posts .posts__item .posts__item__img {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.posts .posts__item .posts__item__img img {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  max-width: 100%;
}

.posts .posts__item .posts__item__img .posts__date {
  position: absolute;
  left: 5%;
  bottom: 65%;
  text-align: center;
}

.posts .posts__item .posts__item__img .posts__date p {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  color: white;
}

.posts .posts__item .posts__item__img .posts__date .posts__date__day {
  background: #555555;
  padding: 5px;
  font-size: 24px;
  font-weight: 100;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.posts .posts__item .posts__item__img .posts__date .posts__date__month {
  font-size: 12px;
  font-family: "Raleway";
  background: black;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.posts .posts__item .posts__text {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  padding: 30px;
}

.posts .posts__item .posts__text h5 {
  font-size: 20px;
  color: #555555;
  margin-bottom: 10px;
}

.posts .posts__item .posts__text p {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}

.posts .posts__item .posts__text a {
  color: #a79783;
  font-size: 14px;
  font-weight: 300;
}

.posts .posts__item:hover .posts__item__img {
  background: black;
}

.posts .posts__item:hover .posts__date .posts__date__day {
  background-color: #a79783;
}

.posts .posts__item:hover .posts__date .posts__date__month {
  background-color: #746757;
}

.posts .posts__item:hover img {
  opacity: 0.4;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80) black;
  -khtml-opacity: 0.8;
}

.posts .posts__item:hover .posts__text {
  background-color: #50473b;
}

.posts .posts__item:hover .posts__text h5 {
  color: #a79783;
}

.posts .posts__item:hover .posts__text p {
  color: white;
}

.bg-paralax {
  background: url(../img/bg-paralax.jpg) no-repeat;
  background-attachment: fixed;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos img {
  margin-left: 30px;
}

.bg-dark {
  background: rgba(0, 0, 0, 0.5);
  padding: 130px 0;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dark-theme {
  background: #1f1f1f;
  padding: 75px 0;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .news__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  margin-left: 20px;
}

.news .news__item .news__logo * {
  max-width: 100%;
  max-height: 100%;
}

.news .news__item h4 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 20px;
}

.news .news__item h6 {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  color: #555555;
}

.news .news__item p {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  color: #8f9091;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
}

.news .news__item .news__post {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  cursor: pointer;
  padding-bottom: 25px;
  border-bottom: 0.5px #555555 solid;
  margin-bottom: 10px;
}

.news .news__item .news__post:hover p {
  color: #a79783;
}

.news .news__item .news__post:hover h6 {
  color: white;
}

footer {
  background: black;
  padding: 40px 0;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #8f9091;
}

.footer__main .footer__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__main .footer__list ul li {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 5px;
}

.footer__main .footer__list ul li span {
  color: white;
}

.footer__main .footer__list ul li:hover {
  color: #c7b299;
}

@media screen and (max-width: 1030px) {
  .main-menu__nav ul *, .main-menu__nav .icons {
    display: none;
  }
  .main-menu .main-menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title-vid {
    top: 0;
    right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-vid p {
    display: none;
  }
  .title-vid h3 {
    margin-top: -20px;
  }
}
/*# sourceMappingURL=style.css.map */