@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:400,500,600,800&display=swap');
// Variables
$main-color: #a79783;
$main-light-color: #c7b299;
$hover-color: #746757;
$secondary-color: #8f9091;
$secondary-dark-color: #555555;
$title-font: 'Raleway';
$common-font: 'Montserrat';
$trans-common: 0.4s;

//Mixins
@mixin post-animation($duration){
    -webkit-transition: $duration ease; /* Safari and Chrome */
    -moz-transition: $duration ease; /* Firefox 4 */
    -o-transition: $duration ease; /* Opera */
    transition: $duration ease;
}
// Common styles for selectors
body{
    box-sizing: border-box;
    font-family: $common-font;
    color: black;
}
header{
    //padding-top: 40px;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: white;
}
h1,h2,h3,h4,h5,h6{
    font-family: $title-font;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 40px;
}
.button{
    @include post-animation($trans-common);
    padding: 10px 30px;
    background: $main-color;
    border-radius: 5px;
    font-size: 16px;
    font-family: $title-font;
    font-weight: 700;
    text-transform: uppercase;
}
.button:hover{
    background: $hover-color;
    
}

// Header
.main-menu{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    .main-menu__logo{
        *{
            max-width: 100%;
        }
    }
    .menu-nav__check{
        display: none;
    }
    .menu-nav__check:checked ~ .main-menu__nav{
        //opacity: 1;
      }
    .main-menu__burger{
        display: none;
        .menu-nav__button-burger{
            position: relative;
            display: block;
            width: 30px;
            height: 15px;
            cursor: pointer;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
            
        }
        .menu-nav__button-burger:before{
            content: "";
            position: absolute;
            top: 6px;
            left: 0px;
            width: 100%;
            border-top: 3px solid #fff;
        }
    }
    .main-menu__logo{
        cursor: pointer;
    }
    .main-menu__nav{
        display: flex;
        align-items: center;
        margin-top: -15px;
        .main-menu__item{
            display: flex;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            a{
                @include post-animation($trans-common);
                margin-left: 15px;
                font-size: 14px;
                font-weight: 300;
            }
            a:hover{
                color: $main-color;
            }
        }
        .icons{
            margin-left: 60px;
            a:nth-child(2){
                margin-left: 25px;
            }
        }
    }
}
.main-header{
    text-align: center;
    padding: 270px 0;

    h2{
        font-size: 36px;
        font-weight: 500;
        color: white
    }
    h1{
        font-size: 52px;
        font-weight: 700;
        color: white;
    }
    p{
        max-width: 55%;
        margin: 0 auto;
        margin-bottom: 60px;
        font-weight: 300;
        margin-top: 30px;
        color: white;
    }
}
.dots{
    display: flex;
    justify-content: center;
    align-items: center;;
    .dot{
        @include post-animation($trans-common);
        width: 12px;
        height: 12px;
        background: $secondary-color;
        border-radius: 50%;
        margin-left: 8px;
        border: 2px transparent solid;
        cursor: pointer;
    }
    .active, .dot:hover{
        background: black;
        border: 2px white solid;
    }
}
.arrows{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 25rem;
    .prev,.next{
        @include post-animation($trans-common);
        position: relative;
        font-size: 35px;
        color: $secondary-color;
        cursor: pointer;
    }
    .prev:hover, .next:hover{
        color: white;
    }
    .prev{
        left: 7%;
    }
    .next{
        right: 7%;
    }
}
// Second section

.skills{
    display: flex;
    justify-content: center;
    margin-top: 85px;
    text-align: center;
    margin-bottom: 150px;
    flex-wrap: wrap;
    *{
        flex: 1 1 200px;
    }
    .skills__item{
        @include post-animation($trans-common);
        margin-left: 20px;
        padding-bottom: 20px;
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        
        i{
            @include post-animation($trans-common);
            font-size: 60px;
            margin-bottom: 15px;
            color: $secondary-dark-color
        }
        h4{
            @include post-animation($trans-common);
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 10px;
            color: $secondary-dark-color;
        }
        p{
            @include post-animation($trans-common);
            color: $secondary-color;
            line-height: 23px;
        }
    }
    .skills__item:hover{
        
        i,h4,p{
            color: $main-color;
        }
        :after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 30%;
            height: 2px;
            margin-left: -15%;
            background: $main-color;
        }   
    }
}

// Third section

.title{
    text-align: center;
    h3{
        color: $secondary-dark-color;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    p{
        max-width: 70%;
        margin: 0 auto;
        color: $secondary-color
    }
}
.pictures{
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 0;
    img{
        max-width: 100%;
    }
    
    .pictures__item{
        overflow: hidden;
        display: flex;
        
    }
    .pictures__item__center{
        display: flex;
        
    }
}
// Fourth screen
.theme{
    padding: 40px 20px;
    background: linear-gradient(90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    margin-bottom: 80px;
}
.purchase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    h3{
        font-size: 28px;
        color: white;
        span{
            color: $main-color
        }
    }
    p{
        font-size: 16px;
        color: $hover-color;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

// Fivth screen
.button-tag{
    font-size: 14px;
    color: black;
    font-weight: 300;

}
.tags{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    .tags__item{
        margin-left: 20px;
        margin-bottom: 20px;
        a{
            @include post-animation($trans-common);
            border: 1px $secondary-color solid;
            padding: 5px 25px;
        }
        .active-item, a:hover{
            @include post-animation($trans-common);
            color: white;
            background-color: $main-color;
        }
        .active-item:hover{
            background-color: $hover-color;
        }
    }
}
.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .projects__item{
        margin-left: 10px;
        margin-bottom: 30px;
        cursor: pointer;
        .projects__img{
            position: relative;
            @include post-animation($trans-common);
            display: flex;
            img{
                @include post-animation($trans-common);
                max-width: 100%;
            }
            .projects__icons{
                
                i{
                    @include post-animation($trans-common);
                    position: absolute;
                    left:50%;
                    top:50%;
                    font-size: 25px;
                    opacity: 0;
                    color: $hover-color;
                }
                .link{
                    margin-left: 20px;
                }
                .search{
                    margin-left: -20px;
                }
            }
        }
        .projects__subtitle{
            @include post-animation($trans-common);
            padding: 25px 30px;
            h5{
                @include post-animation($trans-common);
                font-size: 20px;
                color: $main-color;
            }
            p{
                @include post-animation($trans-common);
                font-size: 14px;
                color: $main-color;
                font-weight: 300;
                margin-top: 10px
            }
        }
    }
    .projects__item:hover{
        .projects__subtitle{
            background-color: $hover-color;
        }
        h5,p{
            color: white;
        }
        .projects__img{
            background: rgba(0,0,0,1);
            img{
                opacity: 0.4;
                -moz-opacity:0.8;
                filter: alpha(opacity=80) black;
                -khtml-opacity: 0.8;
            }
            .projects__icons i {
                opacity: 1;
            }
            .projects__icons i:hover{
                color: white;
            }
        }
    }
}
.learn-more{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

// Sixth screen

.block-video{
    max-width: 100%;
    text-align: center;
    position: relative;
    background: url(../img/vid-photo.jpg) no-repeat;
    video{
        opacity: 0;
        max-width: 100%;
    }
    .title-vid{
        position: absolute;
        text-align: center;
        bottom:30%;
        left: 20%;
        .icon-play{
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // background-color: rgba(0,0,0,0.4);
            // border-radius: 50%;
            // width: 90px;
            // height: 90px;
            // margin: 0 auto;
            // cursor: pointer;
            i{
                cursor: pointer;
                @include post-animation($trans-common);
                font-size: 70px;
                color: white;
                margin-bottom: 30px;
            }
            i:hover{
                color: $secondary-color;
            }
        }
        h3{
            color: white;
            font-size: 30px;
            font-weight: 500;
        }
        p{
            color: white;
            font-size: 16px;
            font-weight: 300;
            max-width: 70%;
            margin: 0 auto;
            line-height: 25px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .vid-time{
            color: $main-color;
            font-size: 14px;
        }
    }
}

// Seventh screen

.mobile-features{
    display: flex;
    margin-top: 80px;
    align-items: center;
    flex-wrap: wrap;
    *{
        flex: 2 2 450px;
        justify-content: center;
        align-items: center;
    }
    .mobile-features__img{
        img{
            max-width: 100%;
        }
    }
    .mobile-features__text{
        text-align: left;  
        margin-bottom: 20px;
        p{
            max-width: 100%;
            line-height: 25px;
        }  
        ul{
            margin-top: 40px;
            margin-left: 50px;
            li{
                margin-top: 10px;
                .mobile-features__list{
                    
                    .pointer{
                        float: left;
                        background: $main-light-color;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        color: white;
                        margin-right: 30px;
                        *{
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

//Eighth screen

.counts{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    *{
        flex: 1 1 200px;
    }
    .counts__item{
        margin-bottom: 20px;
        .counter{
            font-size: 48px;
            color: white;
            font-weight: 200;
            margin-bottom: 20px;
        }
        p{
            color: $main-color;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

// Nineth screen

.posts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 140px;
    .posts__item{
        cursor: pointer;
        margin-left: 20px;
        margin-bottom: 10px;
        .posts__item__img{
            @include post-animation($trans-common);
            display: flex;
            position: relative;
            img{
                @include post-animation($trans-common);
                max-width: 100%;
            }
            .posts__date{
                position: absolute;
                left: 5%;
                bottom: 65%;
                text-align: center;
                
                p{
                    @include post-animation($trans-common);
                    color: white;
                }
                .posts__date__day{
                    background: $secondary-dark-color;
                    padding: 5px;
                    font-size: 24px;
                    font-weight: 100;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
                .posts__date__month{
                    font-size: 12px;
                    font-family: $title-font;
                    background:black;
                    padding: 5px;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }
        }
        .posts__text{
            @include post-animation($trans-common);
            padding: 30px;
            h5{
                font-size: 20px;
                color: $secondary-dark-color;
                margin-bottom: 10px;
            }
            p{
                @include post-animation($trans-common);
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 15px;
            }
            a{
                color: $main-color;
                font-size: 14px;
                font-weight: 300;
            }
        }

    }
    .posts__item:hover{
        .posts__item__img{
            background: rgba(0,0,0,1);
        }
        .posts__date{
            .posts__date__day{
                background-color: $main-color;
            }
            .posts__date__month{
                background-color: $hover-color;
            }
        }
        img{
            opacity: 0.4;
            -moz-opacity:0.8;
            filter: alpha(opacity=80) black;
            -khtml-opacity: 0.8;
        }
        .posts__text{
            background-color: #50473b;
            h5{
                color: $main-color
            }
            p{
                color: white;
            }
        }
    }
}

//Tenth screen


.bg-paralax{
    background: url(../img/bg-paralax.jpg) no-repeat;
    background-attachment: fixed;
}
.logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    img{
        margin-left: 30px;
    }
}
.bg-dark{
    background: rgba(0,0,0,0.5);
    padding: 130px 0;
}

// Eleventh screen

.news{
    display: flex;
    justify-content: space-between;
}
.dark-theme{
    background: rgb(31, 31, 31);
    padding: 75px 0;
}
.news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .news__item{
        flex: 1 1 200px;
        margin-left: 20px;
        .news__logo *{
            max-width: 100%;
            max-height: 100%;
        }
        h4{
            color: white;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 30px;
            margin-top: 20px;
        }
        h6{
            @include post-animation($trans-common);
            color: $secondary-dark-color;
        }
        p{
            @include post-animation($trans-common);
            color: $secondary-color;
            font-size: 14px;
            font-weight: 300;
            line-height: 23px;
        }
        .news__post{
            @include post-animation($trans-common);
            cursor: pointer;
            padding-bottom: 25px;
            border-bottom: 0.5px $secondary-dark-color solid;
            margin-bottom: 10px;
        }
        .news__post:hover{
            p{
                color: $main-color;
            }
            h6{
                color: white;
            }
        }
    }
}

// Footer

footer{
    background: black;
    padding: 40px 0;
}
.footer__main{
    display: flex;
    justify-content: space-between;
    color: $secondary-color;
    .footer__list{

        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                @include post-animation($trans-common);
                margin-left: 20px;
                font-size: 13px;
                font-weight: 300;
                cursor: pointer;
                margin-bottom: 5px;
                span{
                    color: white;
                }
            }
            li:hover{
                color: $main-light-color;
            }
        }
    }
}

//Media-requests

@media screen and (max-width: 1030px){
    .main-menu__nav{
        ul *, .icons{
            display: none;
        }
    }
    .main-menu{
        .main-menu__burger{
            display: flex;
        }
    }
    .title-vid{
        top: 0;
        right: 10%;
        display: flex;
        flex-direction: column;
        p{
            display: none;
        }
        h3{
            margin-top: -20px;
        }
    }
}
@media screen and (max-width: 600px){
    .main-header{
        padding: 100px 0;
        h2{
            font-size: 26px;
        }
        h1{
            font-size: 36px;
        }
    }
    .arrows{
        bottom: 13rem;
    }
}